<%- include header %>
<style type="text/css">
    .my_work_content_box{
        padding: 10px;
        font-size: 15px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
</style>

    <div class="container">
        <h3>我的近期工作重点</h3>
        <div class="table-responsive" style="border: 1px dashed #181818;">


        </div>
    </div>
<%- include footer %>