<%- include header %>
<div class="container">
    <div class="hero-unit">
        <h3>我的周报</h3>
        <div class="bs-docs-example">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#lastWeek" data-toggle="tab">本周</a></li>
                <li class=""><a href="#currentWeek" data-toggle="tab" style="display: none;">上周</a></li>
                <li class=""><a href="#more" data-toggle="tab">查看更多</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
             <!-- 本周-->
                <div class="tab-pane fade active in" id="lastWeek">
                    <% if (newsContents.length != 0 ) {%>
                        <form method="post" action="newsEditContent">
                            <textarea name="newsEditContent" id="" cols="30" rows="10" style="margin: 10px; width: 785px;"><% if (newsContents) {%> <% newsContents.forEach(function (c, index){ %><%- c.newsContent %><% }) %>  <%}%></textarea>
                            <button type="submit" class="btn btn-inverse" style="margin-left: 10px;">提 交</button>
                        </form>
                    <%}else{%>
                        <form method="post" action="news">
                            <textarea name="newsContent" id="" cols="30" rows="10" style="margin: 10px; width: 785px;"><% if (newsContents) {%> <% newsContents.forEach(function (c, index) { %><%- c.newsContent %><% }) %>  <%}%></textarea>
                            <button type="submit" class="btn btn-inverse" style="margin-left: 10px;">提 交</button>
                        </form>
                    <%}%>
                </div>

                <!--上周-->
                <div class="tab-pane fade" id="currentWeek">
                    <textarea name="" id="" cols="30" rows="10" style="margin: 10px; width: 785px;" disabled></textarea>
                </div>

               <!-- 查看更多-->
                <div class="tab-pane fade" id="more">
                    <p style="line-height: 40px;">
                        <button class="btn btn-small btn-primary" type="button">第一周（11-20~11-27）</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
<%- include footer %>