<%- include header %>

<div class="">
    <div class="hero-unit">
        <h3>工作组</h3>
        <!-- 技术部   网站平台   Flash组   网站前端   网站后端   数据组
           测试组   PHP组   运维组   移动平台   Android组   HTML5组   产品部-->
        <div class="bs-docs-example" style="font-size: 14px;">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#1" data-toggle="tab">技术部</a></li>
                <li><a href="#2" data-toggle="tab">网站平台</a></li>
                <li><a href="#3" data-toggle="tab">Flash组</a></li>
                <li><a href="#4" data-toggle="tab">网站前端</a></li>
                <li><a href="#5" data-toggle="tab">网站后端</a></li>
                <li><a href="#6" data-toggle="tab">数据组</a></li>
                <li><a href="#7" data-toggle="tab">测试组</a></li>
                <li><a href="#8" data-toggle="tab">PHP组</a></li>
                <li><a href="#9" data-toggle="tab">运维组</a></li>
                <li><a href="#10" data-toggle="tab">移动平台</a></li>
                <li><a href="#11" data-toggle="tab">Android组</a></li>
                <li><a href="#12" data-toggle="tab">HTML5组</a></li>
                <li><a href="#13" data-toggle="tab">产品部</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">

                <div class="tab-pane fade active in" id="1">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Product</th>
                            <th>Payment Taken</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="success">
                            <td>1</td>
                            <td>TB - Monthly</td>
                            <td>01/04/2012</td>
                            <td>Approved</td>
                        </tr>
                        <tr class="error">
                            <td>2</td>
                            <td>TB - Monthly</td>
                            <td>02/04/2012</td>
                            <td>Declined</td>
                        </tr>
                        <tr class="warning">
                            <td>3</td>
                            <td>TB - Monthly</td>
                            <td>03/04/2012</td>
                            <td>Pending</td>
                        </tr>
                        <tr class="info">
                            <td>4</td>
                            <td>TB - Monthly</td>
                            <td>04/04/2012</td>
                            <td>Call in to confirm</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="2">2 </div>
                <div class="tab-pane fade" id="3"> 3</div>
                <div class="tab-pane fade" id="4">4 </div>
                <div class="tab-pane fade" id="5">5 </div>
                <div class="tab-pane fade" id="6">6 </div>
                <div class="tab-pane fade" id="7">7 </div>
                <div class="tab-pane fade" id="8">8 </div>
                <div class="tab-pane fade" id="9"> 9</div>
                <div class="tab-pane fade" id="10">10 </div>
                <div class="tab-pane fade" id="11"> 11</div>
                <div class="tab-pane fade" id="12">HTML5组 </div>
                <div class="tab-pane fade" id="13"> 产品部</div>
            </div>
        </div>
    </div>

<%- include footer %>